{% include 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<title>ybe</title>
<style>
    #imgbox img {
        width:50px;
        height:50px;


    }
</style>
<div id="navs" style="clear:both;" class="input-group">
<nav class="navbar navbar-default" style="width:100%;position:fixed;z-index:2;clear:both;">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/en/9/96/Loyola_Jamshedpur_logo.png" width="30" height="30">
      </a>

    </div>
    <ul class="nav navbar-nav navbar-left">
        <span style="font-size:30px;"><u>YearBook '16</u></span></li>
        </ul>

     <ul class="nav navbar-nav navbar-right">

        <div class="input-group" style="text-align:center;">
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group" style="">
          <dl>
		    {% if sin!="None" %}
			<input type="text" class="form-control" id="sin" value="{{ sin }}">
			{% endif %}
			{% if sin=="None" %}
			<input type="text" class="form-control"  placeholder="Enter Name for Search" id="sin">
			{% endif %}
			{% if sis!="None" %}
			<input type="text" class="form-control"  id="sis" value="{{ sis }}">
			{% endif %}
			{% if sis=="None" %}
			<input type="text" class="form-control"  placeholder="Enter Section for Search" id="sis">
			{% endif %}




		</dl>
        </div>
        <button style=""type="button" onClick="searchre();" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
      </form>
      </div>
      </div>


      </ul>

</nav>
<nav class="navbar navbar-default" style="position:relative;clear:both;margin:auto;vertical-align:middle;height:100%;width:230px;display: inline-block;float:left;position:fixed;clear:both;z-index:1;">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>{% if session.logged_in %}
    {% if picc==1 %}

    <div id="imgbox" style="margin-top:30%;"><img src="/getimg?admno={{ session['admno'] }}" style="width:200px;height:200px;border-radius:50%;"></div><br>
    Update Picture
    {% endif %}
    {% if picc==0 %}
    Haven't setup your picture yet?
    {% endif %}

	{% from "minion.html" import render_field %}</li>

	<div class="form-group">
	<form method="post" enctype="multipart/form-data" action="/home/">
		<dl>
            <button class="file-upload btn btn-default">
			<input type = "file" class="file-input" name = "file" id="file"/><span class="glyphicon glyphicon-folder-open"></span> Choose File</button>

		</dl>
		<p>
		    <button class="file-upload btn btn-default">
			<input type = "submit" class="file-input" name = "file" id="file"/><span class="glyphicon glyphicon-upload"></span> Upload File</button>

		</p>
		</form>
		</div>

    {% endif %}

    {% if session.logged_in %}
    {% if postc=="0" %}
    <li><button class="btn btn-default" onClick="window.location.href='/editpost/'"><span class="glyphicon glyphicon-pencil"></span> Create</button></li><br>
    {% endif %}
    {% endif %}



    {% if session.logged_in %}
    {% if postc=="1" %}
    <li><button class="btn btn-default" onClick="window.location.href='/editpost/'"><span class="glyphicon glyphicon-pencil"></span> Edit</button></li><br>
    {% endif %}
    {% endif %}

    <br><li><button class="btn btn-default btn-lg" type="button" id="btn1" onClick="window.location.href='/logout/'"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</button></li>




    </ul>
  </div>
</nav>
</div>
<div id="container">
{% if session.logged_in %}
{% if postc=="1" %}
{% from "minion.html" import render_field %}
    <div style="position:relative;margin:10%;">
	<form method="post" enctype="multipart/form-data" action="/editpost/">
		<dl><br>
			{{ forme.title(value=ptitlee)  }}<br>
			{{ forme.ptext(value=ptexte)  }}<br>


		</dl>
		<p>
			<input type="submit" value="submit">
		</p>
		</form>
	</div>
{% endif %}
{% endif %}

{% if session.logged_in %}
{% if postc=="0" %}
{% from "minion.html" import render_field %}

	<form method="post" enctype="multipart/form-data" action="/posts/">
		<dl>
			{{ render_field(formp.title)  }}
			{{ render_field(formp.ptext)  }}


		</dl>
		<p>
			<input type="submit" value="submit">
		</p>
		</form>
{% endif %}
{% endif %}

</div>
</html>
<script type="text/javascript">
    function searchre() {
        var sin = document.getElementById("sin").value;
        var sis = document.getElementById("sis").value;

        if (sin=="" || sin==null) {sin="None"}
        if (sis=="" || sis==null) {sis="None"}



        var url = "/search?sin="+String(sin)+"&sis="+String(sis)+"&lt=None";

        window.location.href=url;

    }
    </script>
<noscript><meta HTTP-EQUIV="REFRESH" content="0; url=http://ybehwp.pythonanywhere.com/error/"></noscript>
{% endblock %}